
<% include template/header.ejs %>
<body>
  <div>测试</div>
  	<img src="<%= require("../images/img.jpg") %>" alt="" class="img">
  	<% include views/ul.ejs %> 
  	<% include views/footer.ejs %> 
  <p class="tt">ttt</p>
  <div class="bg"></div>
  <% var tt = [5,7,4,3]; %>
  <% for(var i = 0; i < tt.length; i++) {%>
  <p><%= tt[i] %></p>
  <% } %>
  <% if(false){%>
    <p><%= 2333 %></p>
  <% }else{ %>
    <p><%= 4555 %></p>
  <% } %>
</body>
<% include template/footer.ejs  %>