<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="keywords" content="快快租车,租车网,广州租车,深圳租车,自驾租车,个人租车,租车价格,租车费用,私家车怎么赚钱,不计免赔,车险,租车公司,租车网站,试驾,婚车,汽车租赁,租车,婚庆租车,专车,企业租车,商务租车,包车">
    <meta name="description" content="快快租车是华南最大的P2P共享租车平台,车辆10000+台,覆盖全国8大城市,车辆价格低于市价30%,并为租客提供百万保险保障服务,而车主放租爱车,每月赚取3000+额外收入,无论是个人租车,自驾租车,旅游租车,婚庆租车,商务租车,企业租车,包车,还是车主放租爱车赚取收益,都是首选P2P共享租车平台">
    <meta name="application-name" content="快快租车-租车,P2P租车,自驾租车,汽车租赁平台">
    <meta name="msapplication-tooltip" content="快快租车-租车,P2P租车,自驾租车,汽车租赁平台">
  </head>
  <body>
   	<% include template/header.ejs %>
    <div>测试</div>
   	<img src="<%= require("../images/img.jpg") %>" alt="" class="img">
   	<% include views/ul.ejs %> 
   	<% include views/footer.ejs %> 
  </body>
</html>